/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.search-inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.create-contact {
  margin-bottom: 20px;
}

.phone-number-container {
  display: grid;
  grid-template-columns: repeat(2, 12% 86%);
  grid-gap: 2%;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-width: 768px) {
    .search-inputs {
        display: block;
    }
}
