<div #createContactModal class="modal" tabindex="-1" role="dialog" id="createContactModal">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Create new contact</h4>
          </div>
          <div class="modal-body">
            <form [formGroup]="createNewContactForm" (ngSubmit)="submit()" class="form-body">
              <div>
                <label for="firstName"><strong>First Name</strong></label>
                <input class="form-control" name="firstName" type="text" [(ngModel)]="firstName" formControlName="firstName">
                <div
                  *ngIf="submitted && createNewContactForm.controls['firstName'].errors?.required"
                  class="input-warning text-danger mt-1 error">First name is required</div>
              </div>
              <div>
                <label for="lastName"><strong>Last Name</strong></label>
                <input class="form-control" name="lastName" type="text" [(ngModel)]="lastName" formControlName="lastName">
                <div
                  *ngIf="submitted && createNewContactForm.controls['lastName'].errors?.required"
                  class="input-warning text-danger mt-1 error">Last name is required</div>
              </div>
              <div>
                <label for="emailAddress"><strong>Email Address</strong></label>
                <input class="form-control" name="emailAddress" type="text" [(ngModel)]="emailAddress" formControlName="emailAddress">
                <div
                  *ngIf="submitted && createNewContactForm.controls['emailAddress'].errors?.required"
                  class="input-warning text-danger mt-1 error">Email address is required</div>
              </div>
              <div>
                <label for="phoneNumber"><strong>Phone Number</strong></label>
                <div class="phone-number-container">
                  <div>
                    <select class="form-control form-control-borderless form-control-select px-0" formControlName="countryCode"
                      (change)="setCountryCode($event)"
                      [ngClass]="{ 'error': createNewContactForm.value.countryCode === '' && createNewContactForm.controls['phoneNumber'].touched }"
                      [required]="createNewContactForm.value.phoneNumber !== ''">
                      <option style="display:none;"></option>
                      <option value="54" [selected]="createNewContactForm.value.countryCode === '54'">+54</option>
                      <option *ngFor="let countryCode of countryCodes" [value]="countryCode"
                        [selected]="createNewContactForm.value.countryCode === countryCode">
                        +{{countryCode}}
                      </option>
                    </select>
                  </div>
                  <div>
                    <input type="text" formControlName="phoneNumber"
                      class="form-control form-control-borderless px-0 robot_register_phoneNumber" autocomplete="off"
                      autofocus="true" [maxlength]="10" [minlength]="10"
                      [ngClass]="{ 'error': createNewContactForm.controls['phoneNumber'].hasError('phoneNumberInvalid') }" />
                      <div
                        *ngIf="submitted && createNewContactForm.controls['phoneNumber'].hasError('phoneNumberInvalid')"
                        class="input-warning text-danger mt-1 error">
                        Phone number must be valid
                      </div>
                      <div
                        *ngIf="submitted && createNewContactForm.controls['phoneNumber'].errors?.required"
                        class="input-warning text-danger mt-1 error">Phone number is required</div>
                  </div>
                </div>
              </div>
              <div>
                <label for="zipCode"><strong>Residential ZIP Code</strong></label>
                <input class="form-control" type="text" name="zipCode" [(ngModel)]="zipCode" formControlName="zipCode">
                <div *ngIf="submitted && createNewContactForm.controls['zipCode'].errors?.required"
                  class="input-warning text-danger mt-1 error">ZIP code is required</div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" (click)="closePopup()">Close</button>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>
